<header id="header">

  <nav class="nav-container group" id="nav-topbar">
    <div class="nav-toggle"><i class="fa fa-bars"></i></div>
    <div class="nav-text"><!-- put your mobile menu text here --></div>
    <div class="nav-wrap container">
      <ul id="menu-menu" class="nav container-inner group">
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
          <a href="http://www.technews.lt/portal/category/news/">Naujienos</a>
        </li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
          <a href="http://www.technews.lt/portal/category/reviews/">Apžvalgos</a>
          <ul class="sub-menu" style="display: none;">
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/cpu/">Procesoriai</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/motherboards/">Pagrindinės plokštės</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/vga/">Vaizdo plokštės</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/storage-devices/">Duomenų kaupikliai</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/ram/">Operatyvioji atmintis</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/psus/">Maitinimo šaltiniai</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/cases/">Korpusai</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/cooling/">Aušinimas</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/peripherals/">Periferija</a>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
              <a href="http://www.technews.lt/portal/category/reviews/multimedia-devices/">Multimedia įrenginiai</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a title="Diskusijų forumas" target="_blank" href="http://www.technews.lt/forum">Forumas</a>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="container-inner">
        <div class="toggle-search"><i class="fa fa-search"></i></div>
        <div class="search-expand">
          <div class="search-expand-inner">
            <form method="get" class="searchform themeform" action="">
              <div>
                <input type="text" class="search" name="s" placeholder="Įrašykite frazę ir spauskite enter" value="" />
              </div>
            </form>
          </div>
        </div>
      </div><!--/.container-inner-->
    </div><!--/.container-->

  </nav><!--/#nav-topbar-->

  <div class="container group">
    <div class="container-inner">
        <div class="group pad">
          <h1 class="site-title">
            <a href="{{ site.baseurl }}/" rel="home">
              <img src="http://www.technews.lt/portal/wp-content/uploads/2016/03/new_tn_logo_light.png" alt="Technews.lt - #1 IT naujienos">
            </a>
          </h1>

          <div id="header-widgets">
            <div class="widget widget_text">
              <div class="textwidget">
                <a target="_blank" href="http://www.inwin-style.com/">
                  <img alt="in-win" src="http://www.technews.lt/partners/in-win.jpg">
                </a>
              </div>
            </div>              
          </div>
        </div>

    </div><!--/.container-inner-->
  </div><!--/.container-->


<!--       <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->


</header>
